<div class="box">
  <div class="form-box">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Sign Up</h3>

        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email Address" #userEmail required>
        </div>

        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" #userPwd required>
        </div>

        <div class="form-group">
          <input type="button" class="btn btn-primary" value="Sign Up"
            (click)="authService.SignUp(userEmail.value, userPwd.value)">
        </div>

        <div class="form-group">
          <span class="or"><span class="or-inner">Or</span></span>
        </div>

        <div class="form-group">
          <div class="icon fb" (click)="authService.FacebookAuth()"></div>
          <div class="icon google" (click)="authService.GoogleAuth()"></div>
        </div>

        <div class="redirectToLogin">
          <span>Already have an account? <span class="redirect" routerLink="/sign-in">Log In</span></span>
        </div>
      </div>
    </div>
  </div>