.nav-link{
    font-size: 20px;
}
.bg-dark{
    background-color: rgba(0, 0, 0, 0.986)!important;
}
nav{
    height: 80px;
    font-family: 'Courier New', Courier, monospace;
}
.navbar-brand{
    font-size: 30px!important;
    margin-right: 50px;
    margin-left: 30px;
}
.icon{
    width: 29px;
    height: 29px;
    background-image: url('https://icon-library.net/images/shopping-cart-icon-white/shopping-cart-icon-white-5.jpg');
    border-radius: 50%;
    background-size: contain;
}