<div class="box ">
  <div class="details">
    <img [src]="view?.image" alt="...">
    <div class="body">
      <h1 class="card-title">{{view?.name}}</h1>
      <div class="desc">
        <p class="card-text ">{{view?.description}}</p>
        <p class="card-text" >Rating: {{rating}}</p>
      </div>
      <h2 class="card-text">{{view?.price}} грн</h2>
      <h2 class="card-text">{{view?.quantity}} шт</h2>
      <!-- <a class="btn btn-primary">back</a> -->
      <!-- <a [routerLink]="[ '/pizza']" class="btn btn-primary">back</a> -->
      <button type="button" class="btn btn-primary" (click)="addToBag(view)">Buy</button>
      <a (click)="goBack()" class="btn btn-primary">Back</a>
    </div>
  </div>
</div>
<div class="box" *ngIf="view.commentsStatus">
  <div class="details2">
    <h1>Comments</h1>
    <form action="" *ngIf="isBought">
        <label for="">{{user.displayName}}</label>
        <textarea name="" id="" cols="60" rows="4" class="form-control" [(ngModel)]="textComment" name="textComment"></textarea>
        <p>Rating:</p>
        <input type="number"  [(ngModel)]="rateNumber" name="rateNumber" class="form-control" (change)="changeQt()">
        <button type="button" class="btn btn-success" (click)="addComment()">Add</button>
      </form>
    <h1 *ngIf="!isBought">You can add comment only after buying! :)</h1>
    <div class="comment" *ngFor="let comment of view.comments;let i=index">
      <hr>
      <p class="name">{{comment.user}}</p><span>{{comment.data}}</span>
      <p>{{comment.text}}</p>
      <button type="button" class="btn btn-danger" (click)="deleteComment(i)" *ngIf="comment.user===user.displayName">Delete</button>
    </div>
  </div>


</div>