<div class="box">
    <div class="form-group">
        <label for="">Sort</label>
        <select class="form-control" [(ngModel)]="sort" name="sort" (change)="sortF(sort)">
            <!-- <option value="" disabled>Choose category</option> -->
            <option>Спочатку дорожчі</option>
            <option>Спочатку дешевші</option>
            <option>Спочатку з вищим рейтингом</option>
            <option>-</option>
        </select>
        <label for="">Filter</label>
        <select class="form-control" [(ngModel)]="priceFilter" name="priceFilter" (change)="priceF(priceFilter,catFilter)">
            <option value="" disabled >Price</option>
            <option>менше 1000</option>
            <option>від 1000 до 2000</option>
            <option>2000+</option>
            <option>усі</option>
        </select>
        <select class="form-control" [(ngModel)]="catFilter" name="catFilter" (change)="priceF(priceFilter,catFilter)">
                <option value="" disabled>Gender</option>
                <option>чоловіки</option>
                <option>жінки</option>
                <option>діти</option>
                <option>усі</option>
            </select>
    </div>
    <div class="container">
        <div *ngFor="let prod of products" class="card mt-2" style="width: 18rem;">
            <img [src]="prod.image" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">{{prod.name}}</h4>
                <p class="card-text">{{prod.description}}</p>
                <span class="card-text">{{prod.price}} грн</span>
                <a [routerLink]="[ '/products', prod.id ]" class="btn btn-primary">more details</a>
            </div>
        </div>
    </div>
</div>